# redirect URLs like /index.php/something to /something
<IfModule mod_rewrite.c>
        SetEnv HTTP_MOD_REWRITE On
        RewriteEngine On

        RewriteCond %{REQUEST_URI} !^/src/(.+)$
        RewriteCond %{REQUEST_URI} ^(.+).php$
        RewriteRule ^(.*)$ src/$1 [L]

        RewriteCond %{REQUEST_URI} !^/src/download.php/(.*)$
        RewriteCond %{REQUEST_URI} ^/download/(.*)$
        RewriteRule ^download/(.*)/(.*)$ /src/download.php?channel=$1&file=$2 [L,END]

        RewriteCond %{REQUEST_URI} !^/html/(.*)$
        RewriteCond %{REQUEST_URI} !^/src/(.*)$
        RewriteCond %{REQUEST_URI} ^/(.*)$
        RewriteRule ^(.*)$ html/$1 [L,NC,QSA]
</IfModule>
